*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
web/.env
web/.env.local
debug.keystore
node_modules/
web/node_modules/
web/dist/
*.jks
*.keystore
imgs/ZAP_2_17_0_unix.sh
